<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to YelpCamp</h1>
  </body>
</html>

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate ex vel quia
nostrum placeat praesentium veniam modi, incidunt expedita, error aperiam?
Molestias itaque explicabo dolorem ullam inventore soluta excepturi eveniet!
Eveniet animi repellendus voluptate. Soluta dolor, aperiam pariatur at ad rem
neque sed facilis placeat beatae fugit fuga cumque consectetur qui deserunt
tempora velit praesentium. Vel aperiam accusantium eius iste.
